/.idea/
/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
*.retry
/terraform/.terraform/
/ansible/roles/jdauphant.nginx/
/ansible/my_env/
/ansible/.vagrant/
