cloud_id  = "b1g7me15kd3p37dre4us"
folder_id = "b1g4k56g0jmpbbdq0miv"
#zone = "ru-central1-a"
image_id                 = "fd8ihcetk4ehnk7aoja8"
public_key_path          = "~/.ssh/terraform.pub"
subnet_id                = "e9b0h9m5cjr1gug3p7im"
service_account_key_file = "/Users/evgenijsalnikov/Documents/otusDevOps/key.json"
private_key_path         = "~/.ssh/terraform"
reddit_app_count         = 2
