cloud_id  = "b5g7me55kd8p87dre4us"
folder_id = "b5g4k56g0jmpbbdq0miv"
#zone = "ru-central5-a"
image_id                 = "fd8ihcetk4ehnk7aoja8"
public_key_path          = "~/.ssh/terraform.pub"
subnet_id                = "e9b0h9m5cjr5gug8p7im"
service_account_key_file = "./key.json"
private_key_path         = "~/.ssh/terraform"
reddit_app_count         = 2
